My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -464,
        -80
      ],
      "id": "3ddfaee5-c6bb-42ca-b348-f82e1b445462",
      "name": "Telegram Trigger",
      "webhookId": "5fd84d0a-6196-4fa4-aefd-28d41dcc5a82",
      "credentials": {
        "telegramApi": {
          "id": "dwC51TvhRAkUZROI",
          "name": "Telegram Test"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "you are expert travel guide. Explain every question detailed, concisely and with humor. If you don't have the answer the question, explain nicely you don't know and try to ways to answer the questions."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -224,
        -80
      ],
      "id": "6bc1dbae-849c-4bca-9b52-c19e4cb676dc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -368,
        128
      ],
      "id": "0cbdbc48-b536-45d3-996b-8ba8c7a4f60f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "zy99VfP0sh77v8g4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        128,
        -80
      ],
      "id": "439a13f9-d662-4e30-9227-a943b20554ff",
      "name": "Send a text message",
      "webhookId": "98f8fd65-9237-4dde-8914-b5a07bcf9725",
      "credentials": {
        "telegramApi": {
          "id": "dwC51TvhRAkUZROI",
          "name": "Telegram Test"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -224,
        128
      ],
      "id": "ad099cb5-9099-4b88-85a1-e4ff31a9e551",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RZhnSm3g3HD4JGHp",
          "mode": "list",
          "cachedResultUrl": "/workflow/RZhnSm3g3HD4JGHp",
          "cachedResultName": "My workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -80,
        128
      ],
      "id": "6f958c5d-46fc-44ac-9d04-459d0fadd4e5",
      "name": "Call 'My workflow'"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Call 'My workflow'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f366cbd4-f0b8-4fdb-b010-25cbeea5e290",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "88c0c7e2e5299b98c0bc304aea8ce4fb21780ede77700dd53e8f4dd20b601f31"
  },
  "id": "RZhnSm3g3HD4JGHp",
  "tags": []
}